name: Build Documentation

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
      
      - name: Fetch All Tags
        run: git fetch --tags

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Setup Sphinx
        run: |
          pip3 install --upgrade pip
          pip3 install -U gitpython sphinx sphinx-rtd-theme myst-parser

      - name: Compile Documents
        run: ./_scripts/build_all_docs.sh

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html
